.header {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
  gap: 10px;
}
.nav a {
  color: gray;
  text-decoration: none !important;
}
.nav a:hover {
  color: #000;
}

.filter-navbar {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid rgb(237, 238, 237);
  border-bottom: 1px solid rgb(237, 238, 237);
}
.filter-navbar-wrapper {
  display: flex;
  gap: 40px;
}
.filter-navbar-wrapper-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filter-navbar-wrapper-right-dropdown {
  display: flex;
  align-items: center;
}
.filter-navbar-wrapper-right-dropdown img {
  width: 33px;
}
.filter-navbar-wrapper-right-dropdown .best-sellers {
  margin-right: 55px;
}

.home {
  height: 100vh;
}
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allProducts {
  display: flex;
  gap: 50px;
  z-index: 0;
  padding-top: 20px;
}
.allProducts-aside {
  width: 20%;
  border: 1px solid rgb(228, 224, 224);
  border-radius: 5px;
  height: auto;
}
.allProducts-main {
  width: 80%;
}

.allProducts-main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card {
  padding: 20px;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card .product-name {
  margin: 0;
  font-size: 12px;
  font-weight: thin;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card p {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9b9999;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card-flex p {
  font-size: 14px;
  font-weight: thin;
}

.footer {
  padding: 40px;
}
.footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer-others {
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-others img {
  max-width: 150px;
  height: auto;
}
.footer-others .contact-heading {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0;
}
.footer .email-form {
  position: relative;
  display: inline-block;
}
.footer .email-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .email-footer .email-heading {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0;
}
.footer .email-footer .email-headline {
  font-size: 14px;
}
.footer input.email {
  border: none;
  border-bottom: 1px solid #cac9c9;
  padding: 9px 40px 9px 4px;
  background: url("/send1.png") no-repeat top 5px right 1px;
  transition: border-color 0.35s ease;
}
.footer input.email:focus {
  border-bottom-color: #cac9c9;
  outline: none;
}
.footer .nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
  gap: 10px;
}
.footer .nav a {
  color: gray;
  text-decoration: none !important;
}
.footer .nav a:hover {
  color: #000;
}
.footer .payment-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.footer .footer-contact-inner {
  display: flex;
  gap: 10px; /* Add some gap between image and text */
}
.footer .footer-contact-inner img {
  width: 20px;
  height: 20px;
  margin-top: 7px; /* Adjust image width to your preference */
}
.footer .footer-contact-inner .service-name {
  font-size: 15px;
  font-weight: bold;
  line-height: 0;
}
.footer .footer-contact-inner .address {
  font-size: 14px;
  line-height: 0;
}
.footer .footer-contact-inner div {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Add some gap between the paragraphs */
}

.search-input {
  position: relative;
  display: inline-block;
}

input.search {
  border: 1px solid #cac9c9;
  border-radius: 5px;
  padding: 9px 40px 9px 4px;
  background: url("/loupe.png") no-repeat top 8px right 8px;
  transition: border-color 0.35s ease;
}

input.search:focus {
  border-color: #cac9c9;
  outline: none;
}