.header {
  height: 40px;
  z-index: 100;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  overflow: hidden;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
  gap: 10px;
}
.nav a {
  color: gray;
  text-decoration: none !important;
}
.nav a:hover {
  color: #000;
}

.home {
  height: 100vh;
}
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px;
}

.allProducts {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 50px;
  z-index: 0;
  margin-top: 30px;
}
.allProducts aside {
  position: relative;
  width: 20%;
  background-color: #ffcd9b;
  border: solid 8px white;
  height: 555px;
}
.allProducts main {
  position: relative;
  width: 80%;
}