/* styles.scss */
/* Import the variable.scss */
/* Global styles or any other styles you want to add */
.header {
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  display: flex;
  gap: 10px;
}
.nav a {
  color: gray;
  text-decoration: none !important;
}
.nav a:hover {
  color: #000;
}

.filter-navbar {
  display: flex;
  gap: 40px;
  align-items: center;
  background: white;
  padding: 10px 15px;
  border-top: 1px solid rgb(237, 238, 237);
  border-bottom: 1px solid rgb(237, 238, 237);
}
.filter-navbar-left p {
  margin: 0;
}
.filter-navbar-right {
  display: flex;
  align-items: center;
  position: relative;
  /* Position the custom arrow icon */
}
.filter-navbar-right label {
  margin-right: 10px;
}
.filter-navbar-right input[list=prices] {
  /* Styles for the input with datalist */
  border: none;
  border-left: 1px solid #ccc; /* Add border on the left side */
  padding-left: 10px; /* Add padding on the left side */
  background-color: #fff;
  width: 120px; /* Set a fixed width or adjust as needed */
  /* Hide the default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add a custom arrow icon */
  background-image: url("../../assets/images/social/arrow-drop-down-svgrepo-com.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
}
.filter-navbar-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/social/arrow-drop-down-svgrepo-com.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home {
  height: 100vh;
}
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allProducts {
  display: flex;
  gap: 50px;
  z-index: 0;
}
.allProducts-aside {
  width: 20%;
  background-color: #ffcd9b;
  border: solid 8px white;
  height: 550px;
}
.allProducts-main {
  width: 80%;
}

.allProducts-main-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card {
  padding: 20px;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card .product-name {
  margin: 0;
  font-size: 12px;
  font-weight: thin;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card p {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9b9999;
}
.allProducts-main-wrapper .allProducts-main-wrapper-card-flex p {
  font-size: 14px;
  font-weight: thin;
}