@use "../variable";

// filter scss
.filter {
  padding: 12px 12px;
  &-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 13px;

    &-inner {
      display: inline-flex;
      align-items: center;
      gap: 7px;
      border: 1px solid variable.$gray;
      border-radius: 20px;
      padding: 3px 8px;

      .filter-option {
        margin: 0;
        font-size: 14px;
        color: variable.$gray;
      }

      .remove-icon {
        width: 10px;
        height: 10px;
      }
    }
  }
  .remove-all {
    display: inline-flex;
    border: 1px solid variable.$gray;
    border-radius: 20px;
    padding: 3px 8px;
    color: variable.$gray;
    font-size: 14px;

    &:hover {
        border: 1px solid variable.$primary;
        color: variable.$primary;
    }
  }
}

// category scss
.category {
  padding: 12px 12px;
    .category-item-wrapper {
  
        p {
            font-size: 16px;
            cursor: pointer;
            margin: 0; /* Remove default margin */
        }

        .dropdown-arrow {
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease-in-out;
            margin-left: 10px; /* Adjust as needed */

            &.expanded {
                transform: rotate(180deg);
            }
        }
        
    }

    .category-item {
        display: inline-block;
       
  
        p {
            font-size: 16px;
            cursor: pointer;
        }

        .subcategory {
            display: none;
            margin-top: 5px;
            padding-left: 15px;
            max-width: 200px;

            p {
                font-size: 14px;
                cursor: pointer;
            }
        }

        &:hover .subcategory {
            display: block;
        }

        .nested-subcategory {
            display: none;
            margin-top: 5px;
            padding-left: 20px;

            p {
                font-size: 12px;
                cursor: pointer;
            }
        }

        &:hover .nested-subcategory {
            display: block;
        }
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

// size scss

.size {
    
    .size-item {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
    .size-wrapper {
        margin-top: 10px;
        border: 1px solid variable.$gray;
        padding: 5px;
    }
}


// Price scss
.price {
  padding: 12px 12px;
    width: 100%;
    box-sizing: border-box;
  
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
  
      .price-inputs {
        display: flex;
        align-items: center;
  
        .hyphen {
          margin: 0 10px;
        }
        .price-input {
          width: 100%;
          border: 1px solid variable.$gray;
          padding: 5px;
          border-radius: 5px;
        }
        
      }
  
      .price-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background: variable.$primary;
        border-radius: 15px 50px 50px 60px;
        padding: 0px 6px;
      }
    }
  }

// rating scss
  .rating{
    padding: 12px 12px;
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 7px;
      margin-top: 13px;
  
      &-inner {
        display: inline-flex;
        align-items: center;
        gap: 7px;
  
        .rating-option {
          margin: 0;
          font-size: 24px;
          color: variable.$gray;
        }
  
        .remove-icon {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  