@use "../variable";

.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; // Center horizontally

    .blog-content {
        text-align: center;
        max-width: 450px;
        margin: 0 auto; // Center horizontally

        .blog-heading {
            font-size: 20px;
        }

        .blog-paragraph {
            overflow-wrap: break-word;
            line-height: 20px;
        }
    }

    .blog-card-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr); // Default: 4 cards in a row
        gap: 20px;
        margin-top: 40px; // Reduce margin for smaller screens

        // Media queries for responsive design
        @media (max-width: 991.98px) {
            grid-template-columns: repeat(3, 1fr); // 3 cards in a row
        }

        @media (max-width: 767.98px) {
            grid-template-columns: repeat(2, 1fr); // 2 cards in a row
        }

        @media (max-width: 575.98px) {
            grid-template-columns: repeat(1, 1fr); // 1 card in a row
        }
    }

    .blog-card {
        text-align: center;

        .card-icon {
            font-size: 24px;
        }

        .card-heading {
            font-size: 15px;
            font-weight: thin;
        }

        .card-paragraph {
            overflow-wrap: break-word;
            line-height: 1.3;
            font-size: 14px;
            color: variable.$gray;
        }
    }
}
