.search-input {
    position: relative;
    display: inline-block;
  }
  
  input.search {
    border: 1px solid #cac9c9;
    border-radius: 5px;
    padding: 9px 40px 9px 4px; 
    background: url("/loupe.png") no-repeat top 8px right 8px; 
    transition: border-color 0.35s ease; 
  }
  
  input.search:focus {
    border-color: #cac9c9; 
    outline: none; 
  }

  @media (max-width: 575.98px) {
    .search-input {
      max-width: 100%;
    }
  }
  